.how {
    background-image: url('./assets/stacked-waves-haikei.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
   
    opacity: 0.9;
}